@import "../../../global/fonts.scss";

.sub-box {
  margin: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  max-width: 100%;
  .desc {
    @extend .font-secondary;
    padding-bottom: 1.5rem;
    width: 100%;
  }

  .fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem 0.5rem;
    width: 100%;
    padding-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 700px) {
  .sub-box {
    .fields {
      grid-template-columns: 1fr;
    }
  }
}
