<mat-tab-group mat-align-tabs="center" [selectedIndex]="setCurrentTab()">
  <mat-tab>
    <ng-template mat-tab-label>
      <i
        class="material-icons"
        (click)="onProfileClick()"
        routerLink="/{{ profileTab.link }}"
      >
        {{ profileTab.icon }}
      </i>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="material-icons" routerLink="/{{ zoneTab.link }}">
        {{ zoneTab.icon }}
      </i>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span id="live-tab" (click)="onClickLive()">LIVE</span>
    </ng-template>
  </mat-tab>
</mat-tab-group>
