@import "../../global/colors.scss";

.mat-tab-group {
    background-color: $bg-black;
    padding: 0.5%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Accent colour of toolbar */
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background: $dash-green;
} 

.mat-tab-label {
    color: white;
}

#live-tab {
    display: block;
    padding: 20px 75px;
    font-size: 20px;
}

.material-icons {
    display: block;
    padding: 20px 75px;
}