.mat-tab-group {
    background-color: #272727;
    padding: 0.5%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Accent colour of toolbar */
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background:#14A76C;
} 

.mat-tab-label {
    color: white;
}
