@import "../../../../global/fonts.scss";

:host {
  min-height: calc(100% - 4rem);
  padding: 2rem;
  background-color: $darkgrey;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  mat-icon.material-icons {
    padding: 0;
  }

  p {
    margin-bottom: 0;
  }

  div.profile {
    display: flex;
    justify-content: center;
    > :first-child {
      margin-right: 2rem;
    }
    div.right-block {
      > div {
        margin-bottom: 1rem;
      }
    }
    div.left-block {
      border-radius: 0.5rem;
      flex-grow: 9;
      // width: 10rem;
      max-width: 90vw;
      height: auto;
      background: rgb(34, 193, 195);
      background: linear-gradient(
        to right,
        rgb(242, 112, 156),
        rgb(255, 148, 114)
      );
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      align-items: center;
      .name {
        @extend .font-tertiary;
      }
      .score {
        @extend .font-primary;
      }
      position: relative;
      .title {
        position: absolute;
        @extend .font-secondary;
        top: 55px;
        left: 10px;
        color: white;
        font-size: 10rem;
      }
      .score-block {
        margin: 1.04rem
        z-index: 2;
      }
    }
  }

  div#left {
    width: 100%;
    max-width: 90vw;
    padding-right: 2rem;
    z-index: 1;
    > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  div#right {
    z-index: 1;
    padding-top: 1rem;
    height: 50%;
    p {
      color: $white;
    }
  }

  div#acs-history {
    background-color: $white;
    padding: 1rem;
    min-height: 20rem;
  }

  div#picture {
    width: 10rem;
    height: 10rem;
    display: flex;
    position: relative;
    #upload {
      display: none;
    }
    img {
      width: 10rem;
      height: 10rem;
      position: absolute;
      border-radius: 0.5rem;
      object-fit: cover;

      &#editable {
        z-index: 2;
        opacity: 1;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          opacity: 0.3;
          z-index: 0;
        }
      }
    }
    #text {
      text-align: center;
      pointer-events: none;
      padding: 1rem;
      align-self: center;
      justify-self: center;
      z-index: 1;
      @extend .font-tertiary;
      @extend .white-font;
    }
  }

  div#about {
    > * {
      margin-bottom: 0;
    }

    p {
      width: 20rem;
      max-width: 60vw;
      background-color: $white;
      padding: 1rem;
    }

    label {
      background-color: $grey;
      padding: 0.5rem;
      width: fit-content;
      margin: 0;
    }

    textarea {
      border: 1px solid $black;
      padding: 1rem;
      background-color: $white;
      resize: none;
      width: calc(100% - 2rem);
    }
  }
}
.spinner {
  align-self: center;
}
@media only screen and (max-width: 800px) {
  :host {
    flex-direction: column;
    & div#left {
      padding-right: 0rem;
      padding-bottom: 2rem;
    }
    & div#right {
      width: 100%;
    }
    & div.profile {
      flex-direction: column;
      div.left-block {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
