<ng-container *ngIf="profile !== undefined; else loading">
  <div id="left">
    <div class="profile">
      <div class="right-block">
        <div id="follow" class="row xy-center">
          <ng-container *ngIf="(userId$ | async) !== profile.user.id">
            <button
              mat-raised-button
              *ngIf="showAddToRadarButton"
              (click)="addToRadar(profile.user.id)"
            >
              Add to Radar
            </button>
            <button
              mat-raised-button
              *ngIf="!showAddToRadarButton"
              (click)="removeFromRadar(profile.user.id)"
            >
              Remove from Radar
            </button>
          </ng-container>
    
          <button
            mat-raised-button
            (click)="showRadarList('following', followingList)"
          >
            Radar List: {{ following }}
          </button>
          <button
            mat-raised-button
            (click)="showRadarList('followers', followersList)"
          >
            Followers: {{ followers }}
          </button>
        </div>
    
        <div class="row xy-center">
          <ng-container *ngIf="(userId$ | async) === profile.user.id; else unEditableImage ">
    
            <div id="picture" (click)="onClickUploadNewPhoto()">
              <input #fileUpload type="file" name="file" id="upload" (change)="uploadNewPhoto($event)" />
              <img id="editable"[src]="profile.profilepicture" />
              <div id="text">Click to Change Profile Picture</div>
    
            </div>
          </ng-container>
          <ng-template #unEditableImage>
            <div id="picture">
              <img [src]="profile.profilepicture" />
            </div>
          </ng-template>
        </div>
    
        <div id="name" class="row xy-center">
          <p class="font-primary white-font">{{ profile.user.username }}</p>
        </div>
    
        <div id="status" class="row xy-center">
          <p class="font-secondary white-font">Status:</p>
    
          <mat-form-field *ngIf="editStatusMode" appearance="fill">
            <input matInput type="text" [(ngModel)]="profile.status" />
          </mat-form-field>
    
          <p class="font-secondary white-font" *ngIf="!editStatusMode">
            {{ profile.status }}
          </p>
    
          <ng-container *ngIf="(userId$ | async) === profile.user.id">
            <button
              *ngIf="!editStatusMode"
              color="accent"
              mat-icon-button
              (click)="beginEditStatus()"
            >
              <mat-icon>create</mat-icon>
            </button>
    
            <button
              *ngIf="editStatusMode"
              color="accent"
              mat-icon-button
              (click)="submitNewStatus()"
            >
              <mat-icon>save</mat-icon>
            </button>
          </ng-container>
        </div>
      </div>
      <div class="left-block">
        <div class="title">ACS</div>
        <div class="score-block"*ngFor="let acsScore of acsScores">
          <div class="name">{{ acsScore.name}}</div>
          <div  class="score">
            {{acsScore.score }}
          </div>
        </div>
    </div>
    </div>

    <div id="about"[ngClass]="{'column': true, 'uncentered': (userId$ | async) === profile.user.id}">
      <div class="row">
        <label for="about-message">About</label>

        <ng-container *ngIf="(userId$ | async) === profile.user.id">
          <button
            *ngIf="!editAboutMode"
            color="accent"
            mat-icon-button
            (click)="beginEditAbout()"
          >
            <mat-icon>create</mat-icon>
          </button>

          <button
            *ngIf="editAboutMode"
            color="accent"
            mat-icon-button
            (click)="submitNewAbout()"
          >
            <mat-icon>save</mat-icon>
          </button>
        </ng-container>
      </div>

      <p *ngIf="!editAboutMode">{{ profile.about }}</p>
      <textarea
        *ngIf="editAboutMode"
        id="about-message"
        matInput
        rows="3"
        cols="50"
        [(ngModel)]="profile.about"
      >
        {{ profile.about }}
      </textarea>
    </div>

    <div id="acs-history" class="column" *ngIf="(userId$ | async) === profile.user.id">
      <p class="font-secondary">ACS History</p>
      <ng-container *ngIf="formattedACSHistory !== undefined; else loading">
        <app-area-echarts
          yName="Basketball ACS"
          [dataList]="formattedACSHistory.data"
          [dateList]="formattedACSHistory.dates"
        ></app-area-echarts>
      </ng-container>
    </div>
  </div>

  <div id="right">
    <div id="highlights" class="column">
      <p class="font-secondary white-font">Highlights</p>

      <div id="sports" class="column">
        <p class="font-tertiary white-font">Sports:</p>
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip *ngFor="let sport of profile.favourite_sports">
            {{ sport.name }}
          </mat-chip>
        </mat-chip-list>

        <ng-container *ngIf="(userId$ | async) === profile.user.id">
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Favourite Sport</mat-label>
            <mat-select
              multiple
              [(ngModel)]="favouriteSports"
              disableOptionCentering
            >
              <mat-option *ngFor="let sport of sports" [value]="sport.id">
                {{ sport.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button
            mat-raised-button
            color="accent"
            (click)="updateFavouriteSports()"
          >
            Update
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <mat-spinner class="spinner"></mat-spinner>
</ng-template>

