.home-layout {
    height: 100vh;
    overflow-y: hidden;
    background: #272727;
}

.mat-card {
    background: #747474;
    height: 50vh;
    margin: 3px;
}

.mat-card-content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
