@import "../../global/fonts.scss";
.home-layout {
    height: 100vh;
    overflow-y: hidden;
    background: #272727;
}

.mat-card {
    background: #747474;
    height: 50vh;
    margin: 3px;
}

.mat-card-content {
    @extend .font-primary;
    @extend .white-font;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
