<mat-toolbar>
  <div id="icon">
    <img src="../../assets/icon.png" class="logo" />
  </div>
  <app-search-bar></app-search-bar>
  <div style="flex-grow: 9"></div>
  <button
    [matMenuTriggerFor]="notifications"
    [matBadge]="notificationsCount"
    matBadgePosition="above after"
    matBadgeSize="medium"
    [matBadgeOverlap]="true"
    id="notifications"
    mat-icon-button
  >
    <mat-icon> notifications </mat-icon>
  </button>
  <mat-slide-toggle [(ngModel)]="sidenavExpanded" (change)="toggle($event)">
  </mat-slide-toggle>
</mat-toolbar>

<mat-menu #notifications xPosition="before">
  <div
    class="notification-item"
    mat-menu-item
    *ngFor="let instance of triviaInstances"
    [disabled]="instance.score !== null"
  >
    <ng-container *ngIf="instance.score !== null">
      Finished game with: {{ instance.other_user.username }} | Score:
      {{ instance.score }}
    </ng-container>

    <ng-container *ngIf="instance.score === null">
      <span>Invite from {{ instance.other_user.username }}</span>
      <button color="primary" mat-raised-button (click)="playTrivia(instance)">
        Play
      </button>
    </ng-container>
  </div>
</mat-menu>
