.host {
  margin: -24px;
  max-width: 40rem;
  height: 20rem;
}
.seperator {
  margin: 2rem;
  height: calc(100% - 4rem);
}
.mat-dialog-container {
  padding: 0px;
}
@media only screen and (max-width: 600px) {
  .host {
    height: 35rem;
  }
}
