<div class="side-image-container">
  <img id="side-image-left" src="../../assets/trivia_selection_img.png" />
</div>
<div class="vertical-container">
  <div class="title">TRIVIA</div>
  <div id="settings" class="column">
    <mat-form-field appearance="fill">
      <mat-label>Select Sport to Play</mat-label>
      <mat-select [(ngModel)]="selectedSportId">
        <mat-option *ngFor="let sport of sports$ | async" [value]="sport.id">
          {{ sport.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select Opponent to Play</mat-label>
      <mat-select [(ngModel)]="selectedOpponentUserId">
        <mat-option *ngFor="let user of users$ | async" [value]="user.id">
          {{ user.username }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="buttons-layout">
    <button [routerLink]="singleLink" mat-flat-button (click)="onCreateGame()">
      Single Player
    </button>
    <button mat-flat-button (click)="onCreateGame()">Multi Player</button>
  </div>
</div>
