@import "../../../../global/fonts.scss";

.wrapper {
  position: relative;
}

#title {
  @extend .font-secondary;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
