$darkgreen: #61892f;
$green: #86c232;
$black: #222629;
$darkgrey: #474b4f;
$grey: #6b6e70;
$white: white;
$bg-black: #272727;
$dash-green: #14a76c;
$yellow: #ffe400;
$orange: #ff652f;
$bg-gradient: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
