@import "../../../global/fonts.scss";
@import "../../../global/colors.scss";

mat-drawer-container {
  height: 100%;
}
.home-layout {
  overflow-y: hidden;
  background: $bg-black;
  display: grid;
  height: 100%;
}

.mat-card {
  height: 100%;
  width: 20rem;
  max-width: 50vw;
  transition: 0.1s;
  opacity: 1;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

.mat-card:hover {
  opacity: 0.5;
}

.mat-card-content {
  @extend .font-secondary;
  @extend .white-font;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 5px 5px 5px black;
}
mat-drawer-content {
  overflow-y: hidden;
  overflow-x: hidden;
}
mat-drawer {
  border-right: 1px black solid;
}
