/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "./global/custom-material.scss";
@import "./global/fonts.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;

  .column {
    display: flex;
    flex-direction: column;

    > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .row {
    display: flex;
    flex-direction: row;

    > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .xy-center {
    justify-content: center;
    align-items: center;
  }
}

/* width */
::-webkit-scrollbar {
  width: 25px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $darkgrey;
  border: solid 0.5rem transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: inset 0 0 10px 10px whitesmoke;

  border: solid 0.5rem transparent;
}

.mat-dialog-container {
  padding: 0rem !important;
  overflow: hidden !important;
}

//makes sure all swiper cards are filling the max height
.swiper-slide {
  height: auto !important;
}
/*COMPONENT SPECIFIC STYLING*/
.login-component {
  /*CUSTOM MATERIAL STYLING*/
  .mat-form-field-wrapper {
    margin-bottom: -1.25rem !important;
  }
  // //this styling allows the error message to be multilined, without this styling, the error message wil be overlapped and hidden
  mat-form-field .mat-form-field {
    &-underline {
      position: relative;
      bottom: auto;
    }
    &-subscript-wrapper {
      position: static;
    }
  }
  .button {
    width: 100%;
    & button {
      width: 100%;
      background-color: $grey;
      @extend .white-font;
    }
  }
}
