@import "../../../../../global/fonts.scss";
.spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $darkgrey;
}
.host {
  height: 100%;
  overflow-y: scroll;
  background-color: $darkgrey;
  overflow: auto;
  * {
    &:visited {
      color: $darkgrey !important;
    }
    text-decoration: none;
  }
}
.debate-row {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: $grey;
  display: flex;
  flex-direction: column;
  > * {
    @extend .white-font;
  }
  > .title {
    color: $green;
    @extend .font-secondary;
    cursor: pointer;
  }

  > .time-posted {
    @extend .font-footer;
    color: $bg-black;
  }
  > .comment-number {
    @extend .font-tertiary;
  }
}
