<ng-container *ngIf="topics !== undefined; else loading">
    <div class="host">
        <div class="debate-row" *ngFor="let topic of topics">
            <a [routerLink]="" [queryParams]="{debateId: topic.id}" class="title">
                {{topic.tite}}
            </a>
            <div class="time-posted">
                {{topic.post_date}}
            </div>
            <div class="comment-number">    
                {{topic.num_of_comments}} {{" comments"}}
            </div>
        </div>
    </div>

</ng-container>

<ng-template #loading>
    <div class="spinner">
        <mat-spinner ></mat-spinner>
    </div>
</ng-template>
  
  