<ng-container *ngIf="!timedout; else timedoutTemp"> 
    <ng-container *ngIf="discussion !== undefined && debateTopic !== undefined ; else loading">
        <div class="host">
            <div class="debate-row" >
                <div class="title">
                    {{debateTopic.title}}
                </div>
                <div class="time-posted" [innerHTML]="debateTopic.post_date | parseDate">
                </div>
                <div class="comment-number" >    
                    {{debateTopic.num_of_comments}} {{" comments"}}
                </div>
            </div>
            <!-- todo comment box here-->
    
            <div id="add-comment-form" class="row">
              <mat-form-field appearance="fill">
                <input matInput type="text" [(ngModel)]="debateAnswer" />
              </mat-form-field>
              <button
                mat-raised-button
                color="accent"
                (click)="submitDebateAnswer(debateAnswer)"
                [disabled]="debateAnswer.length === 0"
                >
                Add Answer
              </button>
            </div>

            <ng-container *ngIf="discussion?.length > 0; else nocomments">
                <div class="comment-box">
                    <div class="comment-row" *ngFor="let comment of discussion">
                        <div class="header">
                            <div class="username">
                                {{comment.user.username}}
                            </div>
                            <div class="time" [innerHTML]="comment.comment_date | parseDate">
                            </div>
                        </div>
                        <div class="content" [innerHTML]="comment.content | urlify">
                            <!-- NOTE: this is prob unsecure -->
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</ng-container>

<ng-template #loading>
    <div class="spinner">
        <mat-spinner ></mat-spinner>
    </div>
</ng-template>
<ng-template #nocomments>
    <div class="nocomments">
        <div>Nothing here yet...</div>
    </div>
</ng-template>
<ng-template #timedoutTemp>
    <div class="timedout">
        <div>Unavailable Debate</div>
    </div>
</ng-template>
  
  