<ng-container *ngIf="$questionnaires | async; else loading">
  <div class="seach-box">
    <div class="header">View Active Debates</div>
    <button
      class="addDebateButton"
      (click)="addNewDebate()"
      mat-raised-button
      color="accent"
    >
      + Add New Debate
    </button>
    <div class="debate-table">
      <table class="debate-mat-table" mat-table [dataSource]="debateTableData">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>id</th>
          <td mat-cell *matCellDef="let topic">{{ topic.id }}</td>
        </ng-container>
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>title</th>
          <td mat-cell *matCellDef="let topic">{{ topic.title }}</td>
        </ng-container>
        <ng-container matColumnDef="num_of_comments">
          <th mat-header-cell *matHeaderCellDef># Of Comments</th>
          <td mat-cell *matCellDef="let topic">{{ topic.num_of_comments }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="debateTableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: debateTableColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 50]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
    <div class="header">Select Question Type</div>
    <mat-form-field appearance="fill">
      <mat-select (selectionChange)="getNewQuestionnaireResponse($event)">
        <mat-optgroup
          *ngFor="
            let group of $questionnaires | async | formatQuestions | keyvalue
          "
          [label]="group.key"
        >
          <mat-option *ngFor="let question of group.value" [value]="question">
            {{ question.question_content }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="charting">
    <app-admin-echarts
      [question]="this.currentSelectedQuestion.question"
      [rawData]="this.currentSelectedQuestion.rawdata"
    >
    </app-admin-echarts>
  </div>
  <div style="flex-grow: 9"></div>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
