@import "../../../../global/fonts.scss";
:host > form {
  display: flex;
  flex-direction: column;
  height: 100%;
  * {
    color: $white;
  }
}
mat-selection-list {
  overflow-y: scroll;
}
.question-index {
  @extend .font-tertiary;
}
.question {
  @extend .font-secondary;
}
mat-selection-list {
  margin-bottom: 1rem;
}
.search {
  margin-top: 1rem;
}
