@import "../../../../global/fonts.scss";
:host > form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-selection-list {
  overflow-y: scroll;
}
.question-index {
  @extend .font-tertiary;
}
.question {
  @extend .font-secondary;
}
