<p class="picks-container">
  <mat-form-field appearance="outline">
    <mat-label>MVP (MOST VALUABLE PERSON)</mat-label>
    <select matNativeControl required>
      <option value="test">test</option>
    </select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>ROOKIE OF THE YEAR</mat-label>
    <select matNativeControl required>
      <option value="test">test</option>
    </select>
  </mat-form-field>
  <button mat-raised-button color="accent" class="saveBtn">SAVE</button>
</p>

<!-- <p>Players{{ players$ | async | json }}</p>
<p>Rookies{{ rookies$ | async | json }}</p> -->
<!-- <p>year: {{ year }}</p>
<p>sport: {{ sport }}</p>
<p>mvp id {{ mvp }}</p>
<p>mvp name {{ predictions?.mvp.player_name }}</p>
<p>rookie of the year id {{ rookie }}</p>
<p>rookie of the year name {{ predictions?.rookie.player_name }}</p> -->